# files to ignore when merging (syncing with forks downstream)
# Already ran % git config --global merge.ours.driver true on local; be sure to do that for forks!!!
# ughhh merge conflicts lol
# https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes#_merge_strategies

README.md merge=theirs
index.md merge=theirs
_config.yml merge=theirs
LICENSE.txt merge=theirs
.gitattributes merge=theirs
.gitignore merge=theirs
*.yml merge=theirs
